<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="LOG_FILE"
              class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>./logs/dev/auth-center-dev.log</file>
        <append>true</append>
    </appender>
    <logger name="com.process.auth" additivity="false" level="debug"/>
    <root level="INFO" additivity="false">
        <appender-ref ref="LOG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</included>



