<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 开发环境 -->
    <springProfile name="dev,demo">
        <include resource="logback-dev.xml"/>
    </springProfile>
    <!-- 生产环境 -->
    <springProfile name="prod">
        <include resource="logback-prod.xml"/>
    </springProfile>

</configuration>
